node_modules/
vendor/
build/
coverage/
.beautifirc
.tmp/
webpack.config.js
package-lock.json
npm-debug.log
archives/
bin/
.vscode/
local.log
browserstack.err
*.idea
/idea
protractorFailuresReport/
allure-results/
allure-report/